
body {
  background: #ECFBFC !important;
} 
//! *** NAVBAR ***

// .modal-wrapper {
//   width: 500px;
// }


#home-section, #profile-section, #productindex-container {
  min-height: 85vh;
}

//! *** PRODUCTSHOW ***

.product-info-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;

}

//! *** RANDOM CARDS ***
#random-card {
  transition: .2s;
}

#random-card:hover {
  transform: scale(1.05);
}

//! *** PRODUCTSHOW ***

.accordion-text {
  color: grey;
}

//! *** Ads ***
#ads-image {
  transition: .2s;
}

#ads-image:hover {
  transform: scale(1.05);
}


