
body {
  background: #ECFBFC !important;
} 
//! *** NAVBAR ***

// .modal-wrapper {
//   width: 500px;
// }


#home-section, #profile-section, #productindex-container {
  min-height: 85vh;
}

//! *** PRODUCTSHOW ***

.product-info-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;

}

//! *** HOME PAGE ***
body {
  background-color: #ECFBFC;
}





.accordion-content {
  font-size: x-large;
}
